name: Mirror to GitLab

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Mirror to GitLab
        uses: SvanBoxel/gitlab-mirror-and-ci-action@5c211f993d35256d96b772d995972f434b94e11a
        with:
          args: 'https://gitlab.com/ffflorian/dotfiles'
        env:
          FORCE_PUSH: true
          GITLAB_HOSTNAME: gitlab.com
          GITLAB_USERNAME: ffflorian
          GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
          GITLAB_PROJECT_ID: '37555989'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
